# Altium 
History/
PCB/3D_Models/
*_loc
Project Outputs for altium_lib


# digikey generator
Scripts/*.txt
Scripts/__pycache__
Scripts/digikey_cache
Scripts/digikey_password.py


# Excel
~$daniw_altium_lib.xlsx
\*.zip


#Local Documentation
*.pdf