# Altium 
History/
PCB/3D_Models/
*_loc


# Proprietary Libraries
PCB/Molex.PcbLib
PCB/SDCard.PcbLib
PCB/Toradex.PcbLib
PCB/Harting.PcbLib


# digikey generator
Scripts/output.txt
Scripts/__pycache__
Scripts/digikey_cache
Scripts/digikey_password.py


# Excel
~$daniw_altium_lib.xlsx
